body {
  font-family: sans-serif;
  text-align: center;
  background: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

video {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  border-radius: 12px;
}

.buttons {
  margin-top: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #222;
}
